{% extends "core/base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'core/detail.css' %}" />
{% endblock style %}

{% block content %}
    <h1>Categoría de Servicios - Detalle</h1>
    <div class="detalle-categoria">
        <dl>
            <dt>Nombre</dt>
            <dd>
                {{ categoria.nombre }}
            </dd>
            <dt>Descripción</dt>
            <dd>
                {{ categoria.descripcion|default:"—" }}
            </dd>
        </dl>
    </div>
    <p><a href="{% url 'servicio:categoriaservicio_list' %}">Volver</a></p>
{% endblock content %}
