<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <main>
            <h1>Backoffice</h1>
            <section>
                <h2>Categorías de Servicios</h2>
                <p>
                    <a href="{% url 'servicio:categoriaservicio_list' %}">Lista de Servicios</a>
                </p>
            </section>
            <p><a href="{% url 'core:home' %}">LandingPage</a></p>
        </main>
    </body>
</html>
