{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description"
              content="Servicios profesionales para el cuidado, mantenimiento y mejora del hogar." />
        <title>CasaListo — Servicios para tu hogar</title>
        <link rel="stylesheet" href="{% static 'core/style.css' %}" />

        {% block style %}
        {% endblock style %}
    </head>
    <body>
        <header>
            {% include "core/partials/header.html" %}
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer>
            {% include "core/partials/footer.html" %}
        </footer>
    </body>
</html>
